@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

html, body{
    margin:0;
    padding: 0;
}

body{
    font-size: 14px;
    font-family: "Poppins", sans-serif;
    color: #333;
}

.container{
    padding-right: 15px;
    padding-left: 15px;
    margin: auto;
}

.row{
    margin-left: 15px;
    margin-right: 15px;

}

section{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center
}

.title{
    font-size: 32px;
    text-align: center;
    font-weight: 600;

}

.video-player{
    text-align: center;
}

.image-gallery{
    width: 600px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.image-item{
    width: 33%;
    overflow: hidden;
    padding: 1px;
}

.image-item img{
    max-width: 100%;
    display: block;
}

@media (max-width: 767px) {
    .image-gallery{
        width: 100%
    }
}







